@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1700px;
    padding: 0px 80px;
    margin: auto;
}
/*navbar styling*/
.navbar{
    background: none;
    position: fixed;
    padding: 30px 0;
    z-index: 999;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: #BB86FC;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
/* .navbar .logo a span{
    color: #BB86FC;
    transition: all 0.3s ease;
} */
.navbar.sticky .logo a{
    color: #FFF;
}
/* .navbar.sticky .logo a span{
    color: #BB86FC;
    transition: all 0.3s ease;
} */
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    display: block;
}
.navbar .menu li a:hover{
    color: #03DAC5;
}
.navbar.sticky .menu li a:hover{
    color: #03DAC5;
}
.menu-btn{
    color: #fff;
    font-size: 23px;    
    cursor: pointer;
    display: none;
}
.home{
    display: flex;
    background: url("https://cdn.wallpapersafari.com/55/4/2TRWqg.jpg") no-repeat center;
    /* background: #222; */
    background-size: cover;
    background-attachment: fixed;
    height: 750px;
    color: #fff;
    min-height: 300px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home-content .text-1{
    font-size: 27px;
}
.home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home-content .text-3 span{
    color: #03DAC5;
    font-weight: 500;
}


/*all relative content styling code */
section{
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{ 
content: "";
position: absolute;
bottom: 0px;
left: 50%;
width: 180px;
height: 3px;
background: #111;
transform: translateX(-50%);
}
section .title::after{ 
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #1C4E80;
    padding: 5px;
    background: #8e9fa5;
    transform: translateX(-50%);
    }
 /*about section styling */
 .about, .contact, .footer{
    font-family: 'Poppins', sans-serif;
}
.about .title::after{
    content: "Experience";
}
.about{
    background: #8e9fa5;
}
.about-content,
.skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about-content .left{
    width: 50%;
}
.about-content .left img{
    width: 450px;
    height: 450px;
}

.about-content .right .text{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about-content .right .text span{
    color: #1C4E80;
}
.about-content .right{
    text-align: justify;
    width: 50%;
}
.about-content .button{
    margin: auto;
    display: flex;
    flex: wrap;
}
.about-content .cv{
    display: flex;
    text-align: center;
    width: 15%;
    padding: 1px 15px;
    border-radius: 10px;
    border: 3px solid #1C4E80;
    color: #1C4E80;
    background: none;  
}
.about-content .certificate{
    display: flex;
    text-align: center;
    width: 25%;
    padding: 1px 15px;
    border-radius: 10px;
    border: 3px solid #1C4E80;
    color: #1C4E80;
    background: none;
    margin-left: 10px;
}
.about-content .cv p{
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.about-content .certificate p{
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.about-content .cv p:hover{
    transform: scale(1.05);
    color: #03DAC5;
}
.about-content .certificate p:hover{
    transform: scale(1.05);
    color: #03DAC5;
}

/*skills section styling */
.skills{
    color: #fff;
    background: #111;
    height: 900px;
    display: flex;
    flex: wrap;
}
.skills .title::before{
    background: #03DAC5;
    width: 350px
}
.skills .title::after{
    background: #111;
    content: "Click logos for Github Profile";
    color: #BB86FC;
}
.skills-content .card{
    float: left;
    width: calc(33% - 15px);
    background: #111;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skills-content .card .box{
    transition: all 0.3s ease;
}
.skills-content .card:hover .box{
    transform: scale(1.05);
}
.skills-content .card a{
    font-size: 50px;
    color: #03DAC5;
    transition: color 0.3s ease;
}
.skills-content .card:hover a{
    color:#fff;
}
.skills-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/*projects section styling */
.projects{
    color: #fff;
    background: #111;
    height: 1500px;
    display: flex;
    flex: wrap;
}
.projects .title::before{
    background: #03DAC5;
    width: 250px
}
.projects .title::after{
    background: #111;
    content: "Links in images";
    color: #BB86FC;
}
.projects-content .card{
    float: left;
    background: #111;
    text-align: center;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 50%;
}
.projects .sites{
    width: 600px;
    height: 250px;
}
.projects-content .card .box{
    padding: 20px 25px;
    transition: all 0.3s ease;
}
.projects-content .card:hover .box{
    transform: scale(1.05);
}
.projects-content .card a{
    font-size: 50px;
}
.projects-content .card:hover a{
    color:#fff;
}
.projects-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


/*content section styling */
.contact{
    background: #8e9fa5;
}
.contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact .title::after{
    content: "Get in touch";
    background: #8e9fa5;
}
.contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.column-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.contact-content .left p{
    text-align: justify;
    float: left;
    margin: 10px 0;
    color: #1C4E80;
}
.contact-content .right p{
    text-align: justify;
    float: right;
    margin: 10px 0;
    color: #1C4E80; 
}

.contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact-content .row .info{
    margin-left: 10px;
}
.contact-content .row a{
    font-size: 25px;
    color: #1C4E80;
}
/* .contact-icon{
    height: 25px;
    width: 25px;
}
.contact-icon:hover{
    transform: scale(1.15);
    transition: all 0.3s ease;
} */
.contact-content .head{
    font-weight: 500;
}
.contact-content .info .sub-title{
    color: #fff;
}

/*footer styling*/
footer{
background: #111;
color: #fff;
padding: 20px 23px;
}

/* media adapt section */
@media (max-width: 1400px){
    .about-content .cv{
        width: 15%;
    }
    .about-content .certificate{
        width: 35%;
    }
    .projects{
        height: 1400px;
    }
    .projects .sites{
        width: 400px;
        height: 250px;
    }
}
@media (max-width: 1200px){
    .projects{
        height: 1400px;
    }
    .projects .sites{
        width: 400px;
        height: 250px;
    }
}
@media (max-width: 1150px){
    .home .max-width{
        margin-left: 0px;
    }
    .about-content .cv{
        width: 20%;
    }
    .about-content .certificate{
        width: 30%;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350PX;
    }
    .about-content .cv{
        width: 20%;
    }
    .about-content .certificate{
        width: 40%;
        margin-left: 10px;
    }
}
@media (max-width: 991px){
.max-width{
    padding: 0 50px;
    }
    .about-content .cv{
        width: 20%;
    }
    .about-content .certificate{
        width: 35%;
    }
    
}
@media (max-width: 947px){
    .max-width{
        padding: 0 50px;
        }
    .menu-btn{
        display: block;
        z-index: 999;
    }    
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%; 
        top: 0;
        background-color: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 15px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .about-content .cv{
        width: 10%;
    }
    .about-content .certificate{
        width: 25%;
    }
    .skills{
        height: 900px;
    }
    .skills .skills-content .card{
        width: 33%;
        margin-bottom: 20px;
    }
    .projects{
        height: 2900px;
    }
    .projects .sites{
        height: 300px;
        width: 85%;
    }
    .projects .projects-content .card{ 
        width: 100%;
        margin-bottom: 20px;
    }
    .contact .contact-content .column{
        width: 50%;
        margin-bottom: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contact .contact-content .column-right{
        width: 50%;
        display: flex;
        align-items: flex-end;
        font-size: 0;
    }
    .contact .contact-content .column-left{
        width: 50%;
        display: flex;
        align-items: flex-start;
    }

}
@media (max-width: 760px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
        padding: 9px 25px;
    }
    .about-content .cv{
        width: 15%;
    }
    .about-content .certificate{
        width: 27%;
    }
    .skills{
        height: 1200px;
    }
    .skills .title::after{
        height: 8px;
    }
    .skills .title::before{
        width: 10px;
    }
    .skills .skills-content .card{
        width: 50%;
    }
    .projects{
        height: 2800px;
    }
    .projects .title::after{
        height: 8px;
    }
    .projects .title::before{
        width: 10px;
    }
    .projects .sites{
        height: 300px;
        width: 95%;
    }
    .projects .projects-content .card{
        width: 100%;
        margin-bottom: 20px;
    }
    
}
@media (max-width: 540px){
    .about-content .cv{
        width: 18%;
    }
    .about-content .certificate{
        width: 35%;
        margin-left: 10px;
    }
    .projects{
        height: 3100px;
    }
}
@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about-content .cv{
        width: 23%;
    }
    .about-content .certificate{
        width: 45%;
        margin-left: 10px;
    }
    
}